name: CI

on:
  push:
    # Don't run this workflow when a tag is pushed.
    branches:
      - '*'
  pull_request:

permissions:
  contents: read

jobs:
  rustfmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Check formatting
        run: |
          cargo fmt -- --version
          cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Run clippy
        run: |
          cargo clippy -- --version
          cargo clippy --workspace --all-targets -- -Dwarnings

  cargo-vet:
    runs-on: ubuntu-24.04

    env:
      CARGO_VET_REV: c178261c96c9f820f67817e9c5458db655ddc21f # 0.10.1

    steps:
    - uses: actions/checkout@v6

    - uses: actions/cache@v4
      with:
        path: ${{ runner.tool_cache }}/cargo-vet
        key: cargo-vet-bin-${{ env.CARGO_VET_REV }}

    - name: Add the tool cache directory to the search path
      run: echo "${{ runner.tool_cache }}/cargo-vet/bin" >> $GITHUB_PATH

    - name: Ensure that the tool cache is populated with the cargo-vet binary
      run: cargo install --root ${{ runner.tool_cache }}/cargo-vet --locked --git https://github.com/mozilla/cargo-vet --rev ${{ env.CARGO_VET_REV }} cargo-vet
      if: steps.cache-cargo-vet.outputs.cache-hit != 'true'

    - name: Invoke cargo-vet
      run: |
        cargo vet --version
        cargo vet --locked

  build:
    strategy:
      matrix:
        target:
          - runner-image: windows-2025
            triple: x86_64-pc-windows-msvc
          - runner-image: ubuntu-24.04
            triple: x86_64-unknown-linux-gnu

    runs-on: ${{ matrix.target.runner-image }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install the Rust target
        run: rustup target add ${{ matrix.target.triple }}

      - name: Run build
        run: cargo build --release --target ${{ matrix.target.triple }}

      - name: Get descriptive version
        id: get-version
        shell: bash
        run: |
          GIT_DESCRIBE="$(git describe --tags --long --abbrev=7)"
          GIT_REF_NAME="${{ github.ref_name }}"
          VERSION="${GIT_DESCRIBE}_${GIT_REF_NAME}"
          SAFE_VERSION="${VERSION//[\/<>\"|]/_}"
          echo "version=$SAFE_VERSION" >> "$GITHUB_OUTPUT"

      - name: Build archive
        id: build-archive
        shell: bash
        run: |
          python scripts/archive.py --root-path . --version "${{ steps.get-version.outputs.version }}" --triple "${{ matrix.target.triple }}"

          if [[ "${{ runner.os }}" == "Windows" ]]
          then
            echo "filename=metadata-validator-${{ steps.get-version.outputs.version }}-win64.7z" >> "$GITHUB_OUTPUT"
          else
            echo "filename=metadata-validator-${{ steps.get-version.outputs.version }}-Linux.tar.xz" >> "$GITHUB_OUTPUT"
          fi

      - name: Upload archive
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.build-archive.outputs.filename }}
          path: target/package/${{ steps.build-archive.outputs.filename }}
        if: github.event_name == 'push'
